* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: 0;
  resize: none;
}

button {
  cursor: pointer;
  border: none;
}

.open,
.size__item,
.cart-icon {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1226px;
  margin: auto;
}
